body {
  background-color: lightslategrey;
}

#containerDiv {
  display: flex;
  height: 98vh;
  width: auto;
  #pictureFrame {
    margin: auto;
    width: 95%;
    height: 100%;
    #image {
      margin: auto;
      height: 100%;
      width: 100%;
      transition: opacity 2000ms ease-out;
    }
    .easeIn {
      opacity: 100%;
    }
    .easeOut {
      opacity: 0%;
    }
  }
}
