body {
  background-color: lightslategrey;
}

#containerDiv {
  display: block;
  height: 98vh;
  width: auto;
  #pictureFrame {
    margin: auto;
    width: 95%;
    height: 100%;
    p {
      position: absolute;
      z-index: 3;
      top: 30vh;
      margin: 0px;
      opacity: 30%;
      font-size: 15em;
      color: lightgoldenrodyellow;
      transition: opacity ease-in 3s;
      transition: transform ease-in 1s;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      &:hover {
        cursor: pointer;
        opacity: 85%;
        transform: scale(1.05);
      }
    }
    #leftArrow {
      left: 3vw;
    }
    #rightArrow {
      right: 3vw;
    }
    #image {
      margin: auto;
      height: 100%;
      width: 100%;
      transition: opacity 2000ms ease-out;
    }
    .easeIn {
      opacity: 100%;
    }
    .easeOut {
      opacity: 0%;
    }
    #dots {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        bottom: 3vh;
        text-align: center;
        .dot {
            margin: 0px 10px 0px 10px;
            height: 25px;
            width: 25px;
            background-color: white;
            border-radius: 50%;
            display: inline-block;
            &:hover {
                background-color: greenyellow;
            }
        }
    }
  }
}
