#containerDiv {
    display: flex;
    height: 100vh;
    width: auto;
    background-color: darkblue;
    #imageContainer {
        margin: auto;
        background-color: gold;
        width: 95%;
        height: 100%;
        #image {
            margin: auto;
            background-color: green;
            height: 100%;
            width: 100%;
            display: block;
        }
    }
}